@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --white-color: white;
  --black-color: black;
  --font-color: #333333;
  --header-hover-color: #C283F3;
  --header-focus-color: #7943A4;
  --header-scrollbar: #9D5CD0;
  --header-scrollbar-focus: #D1A9F0;
  --header-search-adaptive-color: #18171B;
  --menu-scrollbar: #C4C4C4;
  --hero-button-border: #D1A9F0;
  --gallery-select: #999999;
  --gallery-swiper-buttons: #666666;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1602px;
}

.section-container {
  padding-top: 80px;
  padding-bottom: 71px;
}

.section-heading {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.section-heading--white {
  color: var(--white-color);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

@media (max-width: 1919.98px) {

  .container {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1919px;
  }
}

@media (max-width: 767.98px) {

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section-heading {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 38px;
  }
}

/* Heading */

.header-top {
  position: relative;
  background-color: var(--black-color);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  display: none;
  padding: 37px 0px 35px 0px;
  border: none;
  background-color: transparent;
  line-height: 0px;
  -webkit-tap-highlight-color: transparent;
}

.burger-img-elem {
  transition: fill 200ms ease-in-out;
}

.burger:active .burger-img-elem {
  fill: var(--header-hover-color);
}

.logo {
  margin-left: 0px;
  margin-right: 179px;
  width: 173px;
  height: 40px;
  line-height: 0px;
}

.logo--none {
  display: none;
}

.nav-and-enter {
  display: flex;
  position: relative;
  align-items: center;
}

.nav-and-enter__cross {
  display: none;
  margin-top: 37px;
  margin-left: 45px;
  border: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.nav-and-enter__cross-img-elem {
  opacity: 1;
}

.nav-and-enter__cross-img-elem-info {
  transition: fill 200ms ease-in-out;
}

.nav-and-enter__cross:active .nav-and-enter__cross-img-elem-info {
  fill: var(--header-hover-color);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__item-text {
  position: relative;
  display: block;
  padding-top: 37px;
  padding-bottom: 39px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  transition: color 200ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.nav__item-text:last-child {
  margin-right: auto;
}

.nav__item-text:hover {
  color: var(--header-hover-color);
}

.nav__item-text:focus {
  color: var(--header-focus-color);
}

.nav__item-text:active {
  color: var(--header-hover-color);
}

.nav__item-text:focus-visible {
  padding-top: 0px;
  padding-bottom: 2px;
  color: var(--white-color);
  outline: 2px solid var(--header-focus-color);
}

.header-btn {
  display: block;
  padding-top: 37px;
  padding-bottom: 39px;
  margin-left: 284px;
  font-size: 18px;
  line-height: 24.5px;
  color: var(--white-color);
  transition: color 200ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.header-btn:hover {
  color: var(--header-hover-color);
}

.header-btn:focus {
  color: var(--header-focus-color);
}

.header-btn:focus-visible {
  padding-top: 0px;
  padding-bottom: 2px;
  color: var(--white-color);
  outline: 2px solid var(--header-focus-color);
}

.header-btn:active {
  color: var(--header-hover-color);
}

.header-btn-img-elem {
  transition: fill 200ms ease-in-out;
}

.header-btn:hover .header-btn-img-elem {
  fill: var(--header-hover-color);
}

.header-btn:focus .header-btn-img-elem {
  fill: var(--header-focus-color);
}

.header-btn:focus-visible .header-btn-img-elem {
  fill: var(--white-color);
}

.header-btn:active .header-btn-img-elem {
  color: var(--header-hover-color);
}

.header-bottom {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.header-list__item {
  position: relative;
}

.header-list__item:not(:last-child) {
  margin-right: 90px;
}

.header-list__item-btn {
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 0px;
  border: none;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  background-color: var(--color-white);
  transition: color 200ms ease-in-out;
}

.header-list__item-btn-img {
  transition-property: stroke, transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.header-list__item-btn:hover {
  cursor: pointer;
  color: rgba(157,92,208,1);
}

.header-list__item-btn:hover .header-list__item-btn-img {
  stroke: rgba(157,92,208,1);
}

.header-list__item-btn:focus {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 23px;
  margin-bottom: 23px;
  outline: 2px solid var(--header-focus-color);
}

.header-list__item-btn--active {
  color: var(--header-focus-color);
}

.header-list__item-btn--active .header-list__item-btn-img {
  stroke: var(--header-focus-color);
  transform: translateX(12px) translateY(7px) rotate(180deg);
}

.header-list__item-btn--active:hover {
  color: var(--header-focus-color);
}

.header-list__item-btn--active:hover .header-list__item-btn-img {
  stroke: var(--header-focus-color);
}

.header-list__item-scrollbar {
  display: none;
  position: absolute;
  padding: 40px;
  width: 300px;
  max-height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
}

.header-list__item-scrollbar--active {
  display: block;
}

.scrollbar__list {
  max-height: 220px;
  width: 239px;
}

.header-list__item-scrollbar--active .simplebar-track {
  width: 2px;
  background-color: var(--black-color);
}

.header-list__item-scrollbar--active .simplebar-scrollbar {
  width: 2px;
  background-color: var(--header-scrollbar);
}

.header-list__item-scrollbar--active .simplebar-scrollbar::before {
  display: none;
}

.scrollbar__list-item {
  width: 220px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.scrollbar__list-item--first--one {
  background-image: url(../img/header/jpg/1.1.jpg);
}

.scrollbar__list-item--first--two {
  background-image: url(../img/header/jpg/1.2.jpg);
}

.scrollbar__list-item--first--three {
  background-image: url(../img/header/jpg/1.3.jpg);
}

.scrollbar__list-item--first--four {
  background-image: url(../img/header/jpg/1.4.jpg);
}

.scrollbar__list-item--second--one {
  background-image: url(../img/header/jpg/2.1.jpg);
}

.scrollbar__list-item--second--two {
  background-image: url(../img/header/jpg/2.2.jpg);
}

.scrollbar__list-item--second--three {
  background-image: url(../img/header/jpg/2.3.jpg);
}

.scrollbar__list-item--second--four {
  background-image: url(../img/header/jpg/2.4.jpg);
}

.scrollbar__list-item--third--one {
  background-image: url(../img/header/jpg/3.1.jpg);
}

.scrollbar__list-item--third--two {
  background-image: url(../img/header/jpg/3.2.jpg);
}

.scrollbar__list-item--third--three {
  background-image: url(../img/header/jpg/3.3.jpg);
}

.scrollbar__list-item--third--four {
  background-image: url(../img/header/jpg/3.4.jpg);
}

.scrollbar__list-item--fourth--one {
  background-image: url(../img/header/jpg/4.1.jpg);
}

.scrollbar__list-item--fourth--two {
  background-image: url(../img/header/jpg/4.2.jpg);
}

.scrollbar__list-item--fourth--three {
  background-image: url(../img/header/jpg/4.3.jpg);
}

.scrollbar__list-item--fourth--four {
  background-image: url(../img/header/jpg/4.4.jpg);
}

.scrollbar__list-item--fifth--one {
  background-image: url(../img/header/jpg/5.1.jpg);
}

.scrollbar__list-item--fifth--two {
  background-image: url(../img/header/jpg/5.2.jpg);
}

.scrollbar__list-item--fifth--three {
  background-image: url(../img/header/jpg/5.3.jpg);
}

.scrollbar__list-item--fifth--four {
  background-image: url(../img/header/jpg/5.4.jpg);
}

.scrollbar__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.scrollbar__list-item-elem {
  display: block;
  border: 2px solid transparent;
  padding: 11px 124px 12px 14px;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background-color: rgba(0, 0, 0, 0.25);
  color: var(--white-color);
  transition: border 200ms ease-in-out;
}

.scrollbar__list-item-elem:hover {
  border: 2px solid var(--header-scrollbar);
}

.scrollbar__list-item-elem:focus {
  border: 2px solid var(--header-scrollbar-focus);
  background-color: rgba(194, 131, 243, 0.4);
  outline: none;
}

.header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-left: auto;
  outline: none;
}

.header-form--active {
  padding: 2px 2px 5px 0px;
  background-color: var(--header-search-adaptive-color);
}

.header-form:focus-visible {
  outline: 2px solid var(--header-focus-color);
}

.header-form__cross {
  display: none;
  margin-left: 10px;
  padding-bottom: 0px;
  border: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.header-form__cross--active {
  display: block;
}

.header-form__input {
  margin-left: 9px;
  padding: 0px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  width: 218px;
  background-color: transparent;
  outline: none;
  transition: border 200ms ease-in-out;
}

.header-form__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header-form__input::-moz-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header-form__input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header-form__input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header-form__input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header-form__button {
  margin-top: 3px;
  margin-right: 7px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: var(--color-white);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.header-form__button-img-elem {
  transition: fill 200ms ease-in-out;
}

.header-form__input:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--header-hover-color);
}

.header-form__button:hover {
  cursor: pointer;
}

.header-form__input:focus {
  caret-color: var(--header-hover-color);
}

.header-form__input:hover + .header-form__button .header-form__button-img-elem,
.header-form__input:focus + .header-form__button .header-form__button-img-elem,
.header-form__button:focus-visible .header-form__button-img-elem {
  fill: var(--header-hover-color);
}

.header-form__button:focus-visible .header-form__button-img-elem:nth-child(2) {
  outline: 2px solid var(--header-focus-color);
}

.header-form__input:focus::-webkit-input-placeholder { color:transparent; }
.header-form__input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.header-form__input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.header-form__input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

@media (max-width: 1919.98px) {

  .burger {
    display: block;
  }

  .burger-img-elem--none {
    transition: none;
    fill: transparent;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -21px 0px 0px -94px;
  }

  .nav-and-enter {
    display: none;
  }

  .nav-and-enter--active {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 5;
  }

  .nav-and-enter__cross {
    display: block;
  }

  .nav__list {
    flex-direction: column;
    align-items: inherit;
    margin-top: 30px;
    margin-left: 50px;
  }

  .nav__item-text {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 24px;
    line-height: 64px;
  }

  .header-btn {
    display: inline-block;
    border: 2px solid var(--header-scrollbar-focus);
    border-radius: 100px;
    margin: 135px 0px 51px 50px;
    padding: 19px 88px 22px 88px;
  }

  .header-btn:focus {
    color: var(--header-hover-color);
  }

  .header-btn:focus .header-btn-img-elem {
    fill: var(--header-hover-color);
  }

  .header-container-adaptive {
    padding: 0px;
  }

  .header-bottom {
    width: inherit;
    top: 36px;
    right: 50px;
  }

  .header-bottom--active {
    right: calc(50% - 338px);
  }

  .header-list {
    display: none;
  }

  .header-form__input {
    display: none;
  }

  .header-form__input--active {
    display: block;
    color: var(--white-color);
  }

  .header-form__input:hover {
    cursor: inherit;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  }

  .header-form__input:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    caret-color: var(--white-color);
  }

  .header-form__button {
    margin-top: 0px;
    margin-right: 0px;
    width: 34px;
    height: 29px;
  }

  .header-form__button-img {
    width: 29px;
    height: 29px;
  }

  .header-form__input:hover + .header-form__button .header-form__button-img-elem,
  .header-form__input:focus + .header-form__button .header-form__button-img-elem,
  .header-form__input--active + .header-form__button:hover .header-form__button-img-elem,
  .header-form__button:hover .header-form__button-img-elem {
    fill: var(--white-color);
  }

  .header-form__button:hover {
    cursor: inherit;
  }

  .header-form__button:active .header-form__button-img-elem {
    fill: var(--header-hover-color);
  }
}

@media (max-width: 1023.98px) {

  .header-form__input--active {
    width: 576px;
    color: var(--white-color);
  }
}

@media (max-width: 767.98px) {

  .burger {
    padding: 15px 0px 15px 0px;
    width: 20px;
  }

  .burger-img {
    width: 20px;
    height: 15px;
  }

  .logo {
    width: 97px;
    height: 22px;
    margin: -11px 0px 0px -48px;
  }

  .nav-and-enter__cross {
    margin-top: 15px;
    margin-left: 10px;
  }

  .nav-and-enter__cross-img {
    width: 15px;
    height: 15px;
  }

  .nav__list {
    margin-top: 16px;
    margin-left: 15px;
  }

  .nav__item-text {
    font-size: 16px;
    line-height: 32px;
  }

  .header-btn {
    margin: 27px 0px 27px 15px;
    padding: 11px 32px 11px 32px;
    font-size: 12px;
    line-height: 16px;
  }

  .header-btn-img {
    width: 9px;
    height: 9px;
  }

  .header-container-adaptive {
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(40px);
  }

  .header-bottom {
    top: 15px;
    right: 15px;
  }

  .header-bottom--active {
    top: 0px;
    right: 0px;
    width: 100%;
  }

  .header-form--active {
    width: 100%;
  }

  .header-form__cross--active {
    display: block;
    height: 15px;
    margin-left: auto;
    padding: 15px 15px 25px;
  }

  .header-form__cross--active .header-form__cross-img {
    width: 15px;
    height: 15px;
  }

  .header-form__cross--active .header-form__cross-img-elem {
    opacity: 1;
  }

  .header-form__button {
    width: 22px;
    height: 16px;
  }

  .header-form__button-img {
    width: 16px;
    height: 16px;
  }

  .header-form__button--active {
    margin-left: 57px;
    padding-top: 40px;
  }

  .header-form__input--active {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 3px;
    width: 180px;
    font-size: 14px;
  }
}

/* Hero */

.section-hero {
  background-image: url(../img/hero/1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: anim 15s alternate linear infinite;
}

@keyframes anim {
  0% {
    background-size: 100% 100%;
  }

  50% {
    background-size: 115% 115%;
  }

  100% {
    background-size: 100% 100%;
  }
}

.hero__title {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 21px;
  margin-left: -6px;
  padding-top: 142px;
  max-width: 597px;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  color: var(--white-color);
}

.hero__desc {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 93px;
  max-width: 579px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--white-color);
}

.hero__button {
  display: inline-block;
  margin-bottom: 122px;
  padding: 19.5px 32px 19.5px 32px;
  border: 3px solid var(--header-scrollbar);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.5px;
  background-color: var(--header-scrollbar);
  color: var(--white-color);
  transition: border 200ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.hero__button:hover {
  cursor: pointer;
  border: 3px solid var(--hero-button-border);
}

.hero__button:focus:not(:focus-visible) {
  border: 3px solid var(--hero-button-border);
  background-color: var(--header-focus-color);
}

.hero__button:focus-visible {
  outline: none;
  border: 3px solid var(--header-focus-color);
}

.hero__button:active {
  border: 3px solid var(--hero-button-border);
}

@media (max-width: 1919.98px) {

  .section-hero {
    background-image: url(../img/hero/1-1024.jpg);
    animation: none;
  }

  .hero__title {
    padding-top: 130px;
    margin-bottom: 12px;
  }

  .hero__desc {
    margin-bottom: 133px;
    max-width: 661px;
  }

  .hero__button {
    margin-bottom: 114px;
  }
}

@media (max-width: 1023.98px) {

  .section-hero {
    background-image: url(../img/hero/1-768.jpg);
  }
}

@media (max-width: 767.98px) {

  .section-hero {
    background-image: url(../img/hero/1-320.jpg);
  }

  .hero__title {
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 38px;
    max-width: 258px;
    text-align: center;
    font-size: 32px;
    line-height: 38px;
  }

  .hero__desc {
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    max-width: 265px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__button {
    position: relative;
    left: calc(50% - 100px);
    margin-bottom: 45px;
    padding: 10px 14px 10px 14px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }
}

/* About us */

.section-about__text {
  margin-block-start: 0em;
  margin-block-end: 0em;
  max-width: 1080px;
}

@media (max-width: 767.98px) {
  .section-about__text {
    font-size: 14px;
    line-height: 28px;
  }
}

/* Gallery */

.section-gallery {
  background-image: url(../img/gallery/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 1000px;
}

.section-gallery-container {
  display: flex;
}

.section-gallery-container--left {
  margin-right: 50px;
}

.gallery__select-title {
  padding-top: 10px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1;
  color: var(--white-color);
}

.choices {
  margin-bottom: 554px;
  width: 400px;
  min-height: 16px;
  line-height: 1;
}

.choices:focus-visible {
  outline: 2px solid var(--header-focus-color);
}

.choices__inner {
  padding: 0px;
  min-height: inherit;
  border: 1px solid var(--white-color);
  border-radius: 6px;
  line-height: 1;
  background-color: transparent;
}

.is-open .choices__inner {
  border: 1px solid var(--white-color);
  border-radius: 6px;
}

.is-focused .choices__inner {
  border: 1px solid var(--white-color);
}

.choices[data-type*=select-one] .choices__inner {
  padding: 11px 0px 11px 15px;
}

.choices__list--single {
  padding: 0px;
}

.choices__placeholder {
  opacity: 1;
}

div[aria-selected="true"] {
  color: var(--white-color);
}

.is-open .is-active .choices__item--selectable {
  padding: 11px 0px 11px 15px;
  background-color: transparent;
  color: var(--gallery-select);
}

.is-selected {
  display: none;
}

.choices__list--dropdown.is-active::before {
  content: '';
  position: absolute;
  top: 34px;
  left: 0px;
  width: 400px;
  height: 1px;
  background: var(--gallery-select);
}

.choices__list--dropdown {
  border: 1px solid var(--gallery-select);
  border-radius: 6px;
  background-color: transparent;
}

.choices[data-type*=select-one]:after,
.choices.is-focused.is-open::after {
  content: '';
  border: none;
  width: 12px;
  height: 12px;
  background-image: url(../img/gallery/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.choices[data-type*=select-one]:after {
  top: 15px;
  right: 15px;
}

.choices.is-focused.is-open::after {
  top: 24px;
  right: 15px;
  transform: rotate(180deg);
}

.gallery__note {
  margin-block-start: 0em;
  margin-block-end: 0em;
  max-width: 400px;
  font-weight: 600;
  color: var(--white-color);
}

.gallery__note-link {
  color: var(--header-hover-color);
}

.gallery__note-link:focus-visible {
  outline: 2px solid var(--header-focus-color);
}

.swiper-container {
  margin-top: 25px;
  width: 1150px;
  height: 860px;
}

.swiper-slide {
  width: 350px;
  height: 350px;
}

.swiper__navigation {
  margin-bottom: 30px;
}

.swiper-pages {
  display: inline-block;
  margin-left: 52px;
  color: var(--white-color);
}

.swiper-button-next,
.swiper-button-prev {
  top: 0;
  margin-top: 0;
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 14px;
  background-color: var(--gallery-swiper-buttons);
  outline: none;
}

.swiper-button-next {
  left: 104px;
  transition: all 200ms ease;
}

.swiper-button-prev {
  left: 4px;
  transition: all 200ms ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px;
  color: var(--white-color);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--header-scrollbar);
}

.swiper-button-active {
  border: 2px solid var(--header-scrollbar-focus);
  background-color: var(--header-focus-color);
}

.swiper-button-next:focus-visible,
.swiper-button-prev:focus-visible {
  border: 2px solid var(--header-focus-color);
}

.swiper-button-next:active,
.swiper-button-prev:active {
  background-color: var(--header-scrollbar);
}
