@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --white-color: white;
  --black-color: black;
  --font-color: #333333;
  --header-hover-color: #C283F3;
  --header-focus-color: #7943A4;
  --header-scrollbar: #9D5CD0;
  --header-scrollbar-focus: #D1A9F0;
  --header-search-adaptive-color: #18171B;
  --menu-scrollbar: #C4C4C4;
  --hero-button-border: #D1A9F0;
  --gallery-select: #999999;
  --gallery-swiper-buttons: #666666;
  --events-border: #CACACA;
  --catalog-accordion: #ECECEC;
  --modal-years: #969696;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--font-color);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1602px;
}

.section-container {
  padding-top: 80px;
  padding-bottom: 71px;
}

.section-heading {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.section-heading--additionally {
  color: var(--white-color);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

@media (max-width: 1919.98px) {

  .container {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1919px;
  }
}

@media (max-width: 767.98px) {

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section-heading {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 38px;
  }
}

/* Heading */

.header-top {
  position: relative;
  background-color: var(--black-color);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  display: none;
  padding: 37px 0px 35px 0px;
  border: none;
  background-color: transparent;
  line-height: 0px;
  -webkit-tap-highlight-color: transparent;
}

.burger-img-elem {
  transition: fill 200ms ease-in-out;
}

.burger:active .burger-img-elem {
  fill: var(--header-hover-color);
}

.logo {
  margin-left: 0px;
  margin-right: 179px;
  width: 173px;
  height: 40px;
  line-height: 0px;
}

.logo--none {
  display: none;
}

.nav-and-enter {
  display: flex;
  position: relative;
  align-items: center;
}

.nav-and-enter__cross {
  display: none;
  margin-top: 37px;
  margin-left: 45px;
  border: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.nav-and-enter__cross-img-elem {
  opacity: 1;
}

.nav-and-enter__cross-img-elem-info {
  transition: fill 200ms ease-in-out;
}

.nav-and-enter__cross:active .nav-and-enter__cross-img-elem-info {
  fill: var(--header-hover-color);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__item-text {
  position: relative;
  display: block;
  padding-top: 37px;
  padding-bottom: 39px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  transition: color 200ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.nav__item-text:last-child {
  margin-right: auto;
}

.nav__item-text:hover {
  color: var(--header-hover-color);
}

.nav__item-text:focus {
  color: var(--header-focus-color);
}

.nav__item-text:active {
  color: var(--header-hover-color);
}

.nav__item-text:focus-visible {
  padding-top: 0px;
  padding-bottom: 2px;
  color: var(--white-color);
  outline: 2px solid var(--header-focus-color);
}

.header-btn {
  display: block;
  padding-top: 37px;
  padding-bottom: 39px;
  margin-left: 284px;
  font-size: 18px;
  line-height: 24.5px;
  color: var(--white-color);
  transition: color 200ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.header-btn:hover {
  color: var(--header-hover-color);
}

.header-btn:focus {
  color: var(--header-focus-color);
}

.header-btn:focus-visible {
  padding-top: 0px;
  padding-bottom: 2px;
  color: var(--white-color);
  outline: 2px solid var(--header-focus-color);
}

.header-btn:active {
  color: var(--header-hover-color);
}

.header-btn-img-elem {
  transition: fill 200ms ease-in-out;
}

.header-btn:hover .header-btn-img-elem {
  fill: var(--header-hover-color);
}

.header-btn:focus .header-btn-img-elem {
  fill: var(--header-focus-color);
}

.header-btn:focus-visible .header-btn-img-elem {
  fill: var(--white-color);
}

.header-btn:active .header-btn-img-elem {
  color: var(--header-hover-color);
}

.header-bottom {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.header-list__item {
  position: relative;
}

.header-list__item:not(:last-child) {
  margin-right: 90px;
}

.header-list__item-btn {
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 0px;
  border: none;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  background-color: var(--color-white);
  transition: color 200ms ease-in-out;
}

.header-list__item-btn-img {
  transition-property: stroke, transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.header-list__item-btn:hover {
  cursor: pointer;
  color: rgba(157,92,208,1);
}

.header-list__item-btn:hover .header-list__item-btn-img {
  stroke: rgba(157,92,208,1);
}

.header-list__item-btn:focus {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 23px;
  margin-bottom: 23px;
  outline: 2px solid var(--header-focus-color);
}

.header-list__item-btn--active {
  color: var(--header-focus-color);
}

.header-list__item-btn--active .header-list__item-btn-img {
  stroke: var(--header-focus-color);
  transform: translateX(12px) translateY(7px) rotate(180deg);
}

.header-list__item-btn--active:hover {
  color: var(--header-focus-color);
}

.header-list__item-btn--active:hover .header-list__item-btn-img {
  stroke: var(--header-focus-color);
}

.header-list__item-scrollbar {
  position: absolute;
  padding: 40px;
  width: 300px;
  max-height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
}

.header-list__item-scrollbar--active {
  opacity: 1;
  visibility: visible;
}

.scrollbar__list {
  max-height: 220px;
  width: 239px;
}

.header-list__item-scrollbar--active .simplebar-track {
  width: 2px;
  background-color: var(--black-color);
}

.header-list__item-scrollbar--active .simplebar-scrollbar {
  width: 2px;
  background-color: var(--header-scrollbar);
}

.header-list__item-scrollbar--active .simplebar-scrollbar::before {
  display: none;
}

.scrollbar__list-item {
  width: 220px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.scrollbar__list-item--first--one {
  background-image: url(../img/header/jpg/1.1.jpg);
}

.scrollbar__list-item--first--two {
  background-image: url(../img/header/jpg/1.2.jpg);
}

.scrollbar__list-item--first--three {
  background-image: url(../img/header/jpg/1.3.jpg);
}

.scrollbar__list-item--first--four {
  background-image: url(../img/header/jpg/1.4.jpg);
}

.scrollbar__list-item--second--one {
  background-image: url(../img/header/jpg/2.1.jpg);
}

.scrollbar__list-item--second--two {
  background-image: url(../img/header/jpg/2.2.jpg);
}

.scrollbar__list-item--second--three {
  background-image: url(../img/header/jpg/2.3.jpg);
}

.scrollbar__list-item--second--four {
  background-image: url(../img/header/jpg/2.4.jpg);
}

.scrollbar__list-item--third--one {
  background-image: url(../img/header/jpg/3.1.jpg);
}

.scrollbar__list-item--third--two {
  background-image: url(../img/header/jpg/3.2.jpg);
}

.scrollbar__list-item--fourth--one {
  background-image: url(../img/header/jpg/4.1.jpg);
}

.scrollbar__list-item--fourth--two {
  background-image: url(../img/header/jpg/4.2.jpg);
}

.scrollbar__list-item--fourth--three {
  background-image: url(../img/header/jpg/4.3.jpg);
}

.scrollbar__list-item--fourth--four {
  background-image: url(../img/header/jpg/4.4.jpg);
}

.scrollbar__list-item--fifth--one {
  background-image: url(../img/header/jpg/5.1.jpg);
}

.scrollbar__list-item--fifth--two {
  background-image: url(../img/header/jpg/5.2.jpg);
}

.scrollbar__list-item--fifth--three {
  background-image: url(../img/header/jpg/5.3.jpg);
}

.scrollbar__list-item--fifth--four {
  background-image: url(../img/header/jpg/5.4.jpg);
}

.scrollbar__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.scrollbar__list-item-elem {
  display: block;
  border: 2px solid transparent;
  padding: 11px 124px 12px 14px;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background-color: rgba(0, 0, 0, 0.25);
  color: var(--white-color);
  transition: border 200ms ease-in-out;
}

.scrollbar__list-item-elem:hover {
  border: 2px solid var(--header-scrollbar);
}

.scrollbar__list-item-elem:focus {
  border: 2px solid var(--header-scrollbar-focus);
  background-color: rgba(194, 131, 243, 0.4);
  outline: none;
}

.header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-left: auto;
  outline: none;
}

.header-form--active {
  padding: 2px 2px 5px 0px;
  background-color: var(--header-search-adaptive-color);
}

.header-form:focus-visible {
  outline: 2px solid var(--header-focus-color);
}

.header-form__cross {
  display: none;
  margin-left: 10px;
  padding-bottom: 0px;
  border: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.header-form__cross--active {
  display: block;
}

.header-form__input {
  margin-left: 9px;
  padding: 0px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  width: 218px;
  background-color: transparent;
  outline: none;
  transition: border 200ms ease-in-out;
}

.header-form__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header-form__input::-moz-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header-form__input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header-form__input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header-form__input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header-form__button {
  margin-top: 3px;
  margin-right: 7px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: var(--color-white);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.header-form__button-img-elem {
  transition: fill 200ms ease-in-out;
}

.header-form__input:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--header-hover-color);
}

.header-form__button:hover {
  cursor: pointer;
}

.header-form__input:focus {
  caret-color: var(--header-hover-color);
}

.header-form__input:hover + .header-form__button .header-form__button-img-elem,
.header-form__input:focus + .header-form__button .header-form__button-img-elem,
.header-form__button:focus-visible .header-form__button-img-elem {
  fill: var(--header-hover-color);
}

.header-form__button:focus-visible .header-form__button-img-elem:nth-child(2) {
  outline: 2px solid var(--header-focus-color);
}

.header-form__input:focus::-webkit-input-placeholder { color:transparent; }
.header-form__input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.header-form__input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.header-form__input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

@media (max-width: 1919.98px) {

  .burger {
    display: block;
  }

  .burger-img-elem--none {
    transition: none;
    fill: transparent;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -21px 0px 0px -94px;
  }

  .nav-and-enter {
    display: none;
  }

  .nav-and-enter--active {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 5;
  }

  .nav-and-enter__cross {
    display: block;
  }

  .nav__list {
    flex-direction: column;
    align-items: inherit;
    margin-top: 30px;
    margin-left: 50px;
  }

  .nav__item-text {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 24px;
    line-height: 64px;
  }

  .header-btn {
    display: inline-block;
    border: 2px solid var(--header-scrollbar-focus);
    border-radius: 100px;
    margin: 135px 0px 51px 50px;
    padding: 19px 88px 22px 88px;
  }

  .header-btn:focus {
    color: var(--header-hover-color);
  }

  .header-btn:focus .header-btn-img-elem {
    fill: var(--header-hover-color);
  }

  .header-container-adaptive {
    padding: 0px;
  }

  .header-bottom {
    width: inherit;
    top: 36px;
    right: 50px;
  }

  .header-bottom--active {
    right: calc(50% - 338px);
  }

  .header-list {
    display: none;
  }

  .header-form__input {
    display: none;
  }

  .header-form__input--active {
    display: block;
    color: var(--white-color);
  }

  .header-form__input:hover {
    cursor: inherit;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  }

  .header-form__input:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    caret-color: var(--white-color);
  }

  .header-form__button {
    margin-top: 0px;
    margin-right: 0px;
    width: 34px;
    height: 29px;
  }

  .header-form__button-img {
    width: 29px;
    height: 29px;
  }

  .header-form__input:hover + .header-form__button .header-form__button-img-elem,
  .header-form__input:focus + .header-form__button .header-form__button-img-elem,
  .header-form__input--active + .header-form__button:hover .header-form__button-img-elem,
  .header-form__button:hover .header-form__button-img-elem {
    fill: var(--white-color);
  }

  .header-form__button:hover {
    cursor: inherit;
  }

  .header-form__button:active .header-form__button-img-elem {
    fill: var(--header-hover-color);
  }
}

@media (max-width: 1023.98px) {

  .header-form__input--active {
    width: 576px;
    color: var(--white-color);
  }
}

@media (max-width: 767.98px) {

  .burger {
    padding: 15px 0px 15px 0px;
    width: 20px;
  }

  .burger-img {
    width: 20px;
    height: 15px;
  }

  .logo {
    width: 97px;
    height: 22px;
    margin: -11px 0px 0px -48px;
  }

  .nav-and-enter__cross {
    margin-top: 15px;
    margin-left: 10px;
  }

  .nav-and-enter__cross-img {
    width: 15px;
    height: 15px;
  }

  .nav__list {
    margin-top: 16px;
    margin-left: 15px;
  }

  .nav__item-text {
    font-size: 16px;
    line-height: 32px;
  }

  .header-btn {
    margin: 27px 0px 27px 15px;
    padding: 11px 32px 11px 32px;
    font-size: 12px;
    line-height: 16px;
  }

  .header-btn-img {
    width: 9px;
    height: 9px;
  }

  .header-container-adaptive {
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(40px);
  }

  .header-bottom {
    top: 15px;
    right: 15px;
  }

  .header-bottom--active {
    top: 0px;
    right: 0px;
    width: 100%;
  }

  .header-form--active {
    width: 100%;
  }

  .header-form__cross--active {
    display: block;
    height: 15px;
    margin-left: auto;
    padding: 15px 15px 25px;
  }

  .header-form__cross--active .header-form__cross-img {
    width: 15px;
    height: 15px;
  }

  .header-form__cross--active .header-form__cross-img-elem {
    opacity: 1;
  }

  .header-form__button {
    width: 22px;
    height: 16px;
  }

  .header-form__button-img {
    width: 16px;
    height: 16px;
  }

  .header-form__button--active {
    margin-left: 57px;
    padding-top: 40px;
  }

  .header-form__input--active {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 3px;
    width: 180px;
    font-size: 14px;
  }
}

/* Hero */

.section-hero {
  position: relative;
}

.swiper-container-hero {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.swiper-slide-hero {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.swiper-slide-hero-one {
  background-image: url(../img/hero/1.jpg);
}

.swiper-slide-hero-two {
  background-image: url(../img/hero/2.jpg);
}

.swiper-slide-hero-three {
  background-image: url(../img/hero/3.jpg)
}

.swiper-slide-active.swiper-slide-hero {
  animation: anim 6s alternate linear infinite;
}

@keyframes anim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.section-hero-container {
  position: relative;
  z-index: 5;
}

.hero__title {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 21px;
  margin-left: -6px;
  padding-top: 142px;
  max-width: 597px;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  color: var(--white-color);
}

.hero__desc {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 93px;
  max-width: 579px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--white-color);
}

.hero__button {
  display: inline-block;
  margin-bottom: 122px;
  padding: 19.5px 32px 19.5px 32px;
  border: 3px solid var(--header-scrollbar);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.5px;
  background-color: var(--header-scrollbar);
  color: var(--white-color);
  transition: border 200ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.hero__button:hover {
  cursor: pointer;
  border: 3px solid var(--hero-button-border);
}

.hero__button:focus:not(:focus-visible) {
  border: 3px solid var(--hero-button-border);
  background-color: var(--header-focus-color);
}

.hero__button:focus-visible {
  outline: none;
  border: 3px solid var(--header-focus-color);
}

.hero__button:active {
  border: 3px solid var(--hero-button-border);
}

@media (max-width: 1919.98px) {

  .swiper-slide-hero-one {
    background-image: url(../img/hero/1-1024.jpg);
  }

  .swiper-slide-hero-two {
    background-image: url(../img/hero/2-1024.jpg);
  }

  .swiper-slide-hero-three {
    background-image: url(../img/hero/3-1024.jpg);
  }

  .hero__title {
    padding-top: 130px;
    margin-bottom: 12px;
  }

  .hero__desc {
    margin-bottom: 133px;
    max-width: 661px;
  }

  .hero__button {
    margin-bottom: 114px;
  }
}

@media (max-width: 1023.98px) {

  .swiper-slide-hero-one {
    background-image: url(../img/hero/1-768.jpg);
  }

  .swiper-slide-hero-two {
    background-image: url(../img/hero/2-768.jpg);
  }

  .swiper-slide-hero-three {
    background-image: url(../img/hero/3-768.jpg);
  }
}

@media (max-width: 767.98px) {

  .swiper-slide-hero-one {
    background-image: url(../img/hero/1-320.jpg);
  }

  .swiper-slide-hero-two {
    background-image: url(../img/hero/2-320.jpg);
  }

  .swiper-slide-hero-three {
    background-image: url(../img/hero/3-320.jpg);
  }

  .hero__title {
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 38px;
    max-width: 258px;
    text-align: center;
    font-size: 32px;
    line-height: 38px;
  }

  .hero__desc {
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    max-width: 265px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__button {
    position: relative;
    left: calc(50% - 100px);
    margin-bottom: 45px;
    padding: 10px 14px 10px 14px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }
}

/* About us */

.section-about__text {
  margin-block-start: 0em;
  margin-block-end: 0em;
  max-width: 1080px;
}

@media (max-width: 767.98px) {
  .section-about__text {
    font-size: 14px;
    line-height: 28px;
  }
}

/* Gallery */

.section-gallery {
  background-image: url(../img/gallery/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.section-gallery-container {
  position: relative;
  display: flex;
}

.gallery-info {
  margin-right: 47px;
}

.gallery__select-title {
  padding-top: 7px;
  margin-bottom: 18px;
  font-weight: 600;
  line-height: 1;
  color: var(--white-color);
}

.choices {
  width: 400px;
  min-height: 16px;
  line-height: 1;
}

.choices:focus-visible {
  outline: 2px solid var(--header-focus-color);
}

.choices__inner {
  padding: 0px;
  min-height: inherit;
  border: 1px solid var(--white-color);
  border-radius: 6px;
  line-height: 1;
  background-color: transparent;
}

.is-open .choices__inner {
  border: 1px solid var(--white-color);
  border-radius: 6px;
}

.is-focused .choices__inner {
  border: 1px solid var(--white-color);
}

.choices[data-type*=select-one] .choices__inner {
  padding: 11px 0px 11px 15px;
}

.choices__list--single {
  padding: 0px;
}

.choices__placeholder {
  opacity: 1;
}

div[aria-selected="true"] {
  color: var(--white-color);
}

.is-open .is-active .choices__item--selectable {
  padding: 11px 0px 11px 15px;
  background-color: transparent;
  color: var(--gallery-select);
}

.is-selected {
  display: none;
}

.choices__list--dropdown.is-active::before {
  content: '';
  position: absolute;
  top: 34px;
  left: 0px;
  width: 400px;
  height: 1px;
  background: var(--gallery-select);
}

.choices__list--dropdown {
  border: 1px solid var(--gallery-select);
  border-radius: 6px;
  background-color: transparent;
}

.choices[data-type*=select-one]:after,
.choices.is-focused.is-open::after {
  content: '';
  border: none;
  width: 12px;
  height: 12px;
  background-image: url(../img/gallery/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.choices[data-type*=select-one]:after {
  top: 15px;
  right: 15px;
}

.choices.is-focused.is-open::after {
  top: 24px;
  right: 15px;
  transform: rotate(180deg);
}

.gallery__note {
  position: absolute;
  top: 795px;
  margin: 0px;
  max-width: 400px;
  font-weight: 600;
  color: var(--white-color);
}

.gallery__note-link {
  color: var(--header-hover-color);
  transition: color 200ms ease-in-out;
}

.gallery__note-link:hover {
  color: var(--header-scrollbar);
}

.gallery__note-link:focus {
  color: var(--header-focus-color);
}

.gallery__note-link:focus-visible {
  outline: 2px solid var(--header-focus-color);
}

.gallery__note-link:active {
  color: var(--header-scrollbar);
}

.swiper-container-gallery {
  margin-top: 25px;
  width: 1160px;
  height: 815px;
}

.swiper-wrapper-gallery {
  margin-left: 3px;
}

.swiper-slide-gallery {
  width: 350px !important;
  height: 350px;
}

.swiper-slide-gallery:focus-visible {
  outline: 3px solid var(--header-focus-color);
}

.swiper-slide-gallery::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 25px;
  width: 300px;
  height: 300px;
  background-image: url(../img/gallery/zoom.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80px 80px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.swiper-slide-gallery::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 350px;
  background-color: var(--header-hover-color);
  opacity: 0;
  z-index: 5;
  transition: opacity 200ms ease-in-out;
}

.swiper-slide-gallery:hover::after {
  opacity: 1;
}

.swiper-slide-gallery:hover {
  cursor: pointer;
}

.swiper-slide-gallery:active::after {
  opacity: 1;
}

.swiper-slide-gallery:active::before {
  opacity: 0.4;
}

.swiper-slide-gallery__img {
  position: relative;
  width: 350px;
  height: 350px;
}

.swiper__navigation {
  margin-bottom: 25px;
}

.swiper-pages {
  display: inline-block;
  margin-left: 52px;
  color: var(--white-color);
}

.swiper-button-next,
.swiper-button-prev {
  top: 0;
  margin-top: 0;
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 14px;
  background-color: var(--gallery-swiper-buttons);
  outline: none;
}

.swiper-button-next {
  left: 104px;
  transition: all 200ms ease;
}

.swiper-button-prev {
  left: 4px;
  transition: all 200ms ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px;
  color: var(--white-color);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--header-scrollbar);
}

.swiper-button-active {
  border: 2px solid var(--header-scrollbar-focus);
  background-color: var(--header-focus-color);
}

.swiper-button-next:focus-visible,
.swiper-button-prev:focus-visible {
  border: 2px solid var(--header-focus-color);
}

.swiper-button-next:active,
.swiper-button-prev:active {
  background-color: var(--header-scrollbar);
}

.gallery-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms, visibility 200ms;
}

.gallery-modal::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.gallery-modal__container {
  position: relative;
  width: 900px;
  margin: 50px auto;
  display: none;
  vertical-align: middle;
  background-color: var(--white-color);
  cursor: default;
  text-align: left;
}

.gallery-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url(../img/gallery/cross.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.gallery-modal__content {
  display: flex;
}

.gallery-modal__img {
  width: 400px;
  height: 500px;
  background-image: url(../img/gallery/modal/1.2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.gallery-modal__info {
  padding: 121px 50px 50px 50px;
  width: 500px;
}

.gallery-modal__artist {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
}

.gallery-modal__name {
  font-weight: 600;
  line-height: 22px;
}

.gallery-modal__years {
  margin-bottom: 41px;
  font-size: 12px;
  line-height: 16px;
  color: var(--modal-years);
}

.gallery-modal.is-open {
  opacity: 1;
  visibility: visible;
  transition: opacity 200ms, visibility 200ms;
}

.gallery-modal__container.modal-open {
  display: inline-block;
}

.fade {
  opacity: 0;
  transition: opacity 200ms;
}

.fade.animate-open {
  opacity: 1;
  transition: opacity 200ms;
}

@media (max-width: 1919.98px) {

  .section-gallery-container {
    padding-bottom: 80px;
  }

  .choices {
    width: 280px;
  }

  .gallery__note {
    top: 610px;
    max-width: 284px;
  }

  .swiper-container-gallery {
    width: 594px;
    height: 665px;
  }

  .swiper-slide-gallery {
    width: 280px !important;
    height: 280px;
  }

  .swiper-slide-gallery::after {
    top: 21px;
    left: 21px;
    width: 238px;
    height: 238px;
  }

  .swiper-slide-gallery::before {
    width: 280px;
    height: 280px;
  }

  .swiper-slide-gallery__img {
    width: 280px;
    height: 280px;
  }

  .gallery-modal__container {
    width: 594px;
  }

  .gallery-modal__img {
    width: 264px;
    height: 594px;
  }

  .gallery-modal__info {
    width: 330px;
  }
}

@media (max-width: 1023.98px) {

  .section-gallery-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .gallery-info {
    margin-bottom: 76px;
  }

  .gallery__note {
    position: static;
    max-width: 668px;
  }

  .swiper-container-gallery {
    margin-bottom: 30px;
    width: 664px;
  }

  .swiper-slide-gallery {
    width: 317px !important;
    height: 280px;
  }

  .swiper-slide-gallery::after {
    top: 21px;
    left: 23.5px;
    width: 270px;
    height: 238px;
  }

  .swiper-slide-gallery::before {
    width: 317px;
    height: 280px;
  }

  .swiper-slide-gallery__img {
    width: 317px !important;
  }

  .gallery-modal__container {
    width: 668px;
  }

  .gallery-modal__img {
    width: 301px;
    height: 594px;
  }

  .gallery-modal__info {
    width: 367px;
  }
}

@media (max-width: 767.98px) {

  .gallery-info {
    margin-bottom: 55px;
  }

  .choices {
    width: 290px;
  }

  .swiper-container-gallery {
    margin-bottom: 0px;
    width: 290px;
    height: 465px;
  }

  .swiper-pages {
    position: absolute;
    top: 415px;
    left: 65px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 415px;
    margin-top: 0;
  }

  .swiper-button-next {
    left: 175px;
  }

  .swiper-button-prev {
    left: 75px;
  }

  .swiper-slide-gallery {
    width: 290px !important;
    height: 367px;
  }

  .swiper-slide-gallery::after {
    top: 27.5px;
    left: 22px;
    width: 246px;
    height: 312px;
  }

  .swiper-slide-gallery::before {
    width: 290px;
    height: 367px;
  }

  .swiper-slide-gallery__img {
    width: 290px !important;
    height: 367px;
  }

  .gallery-modal__container {
    width: 290px;
  }

  .gallery-modal__close {
    top: 10px;
    right: 10px;
  }

  .gallery-modal__content {
    display: block;
  }

  .gallery-modal__img {
    width: 290px;
    height: 200px;
  }

  .gallery-modal__info {
    padding: 17px 21px 26px 20px;
    width: 290px;
  }

  .gallery-modal__artist {
    margin-bottom: 2px;
  }

  .gallery-modal__years {
    margin-bottom: 12px;
  }
}

/* Catalog */

.section-container-catalog {
  padding-top: 80px;
  padding-bottom: 0px;
}

.catalog-title {
  display: flex;
  align-items: center;
}

.section-heading-catalog {
  margin-right: 41px;
}

.catalog-tabs {
  display: flex;
  align-items: center;
}

.catalog-tab:not(:last-child) {
  margin-right: 50px;
}

.catalog-tab__btn {
  position: relative;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 50px;
  width: 46px;
  height: 46px;
  background-color: var(--white-color);
  background-repeat: no-repeat;
  background-size: 46px 46px;
  background-position: center center;
  outline: none;
  transition: filter 200ms ease-in-out;
}

.catalog-tab__btn--one {
  background-image: url(../img/catalog/1.jpg);
}

.catalog-tab__btn--two {
  background-image: url(../img/catalog/2.jpg);
}

.catalog-tab__btn--three {
  background-image: url(../img/catalog/3.jpg);
}

.catalog-tab__btn--four {
  background-image: url(../img/catalog/4.jpg);
}

.catalog-tab__btn--five {
  background-image: url(../img/catalog/5.jpg);
}

.catalog-tab__btn--active {
  transform: translateY(-7px);
}

.catalog-tab__btn--active::before {
  content: '';
  position: absolute;
  top: -12px;
  left: -12px;
  border: 2px solid var(--header-scrollbar);
  border-radius: 50px;
  width: 62px;
  height: 62px;
}

.catalog-tab__btn:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.catalog-tab__btn:focus-visible {
  border: 2px solid var(--header-scrollbar);
}

.catalog-tab__btn:active {
  border: 2px solid var(--header-scrollbar);
}

.catalog-tabs__desk-list {
  margin-bottom: 38px;
}

.catalog-tabs__desk-item {
  display: none;
  margin-top: 3px;
  max-width: 1080px;
}

.catalog__container {
  display: flex;
  justify-content: space-between;
}

.catalog__artist-item {
  display: none;
}

.artist-item__img {
  margin-bottom: 20px;
}

.artist-item__title {
  margin: 0px;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 24px;
}

.artist-item__dates {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 16px;
  color: var(--events-border);
}

.artist-item__desk {
  margin: 0px;
  max-width: 749px;
}

.catalog__years-list {
  width: 800px;
}

.years-item__btn {
  display: none;
  margin-left: -1px;
  padding: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 258px;
  text-align: start;
  border: none;
  background-color: var(--white-color);
}

.years-item__btn:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
  color: var(--header-scrollbar);
}

.years-item__btn:focus-visible {
  outline: none;
  width: inherit;
  border: 2px solid var(--header-focus-color);
}

.years-item__btn:active {
  text-decoration: underline;
  font-weight: 600;
  color: var(--header-scrollbar);
}

.years-item__btn--active {
  font-weight: 600;
  color: var(--header-focus-color);
}

.catalog-tab--active {
  display: block;
}

.ui-accordion-header {
  margin: 0px;
  border: none;
  border-top: 1px solid var(--events-border);
  border-radius: 0px;
  height: 115px;
  background-color: var(--white-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  color: var(--font-color);
  outline: none;
}

.ui-accordion-header-active {
  border-bottom: 1px solid var(--header-scrollbar);
  outline: none;
}

.ui-accordion:last-child {
  border-bottom: 1px solid var(--events-border);
}

.ui-accordion-content {
  padding-top: 11px;
  border: none;
  height: 310px;
}

.years-item {
  display: flex;
  align-items: center;
}

.years-item__title {
  position: relative;
  display: inline-block;
  outline: none;
  transition: color 200ms ease-in-out;
}

.years-item__title::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0px;
  width: 205px;
  height: 29px;
  border: 2px solid var(--header-focus-color);
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.years-item__title:hover {
  cursor: pointer;
  color: var(--header-scrollbar);
}

.years-item__title:focus:not(:focus-visible) {
  color: var(--header-scrollbar);
}

.years-item__title:focus-visible::before{
  opacity: 1;
}

.years-item__title:active {
  color: var(--header-scrollbar);
}

.years-item__title--border-active {
  border-top: 1px solid var(--header-scrollbar);
}

.years-item__title-icon {
  display: inline-block;
  position: relative;
  margin-left: auto;
  border: 2px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--catalog-accordion);
  outline: none;
  transform: rotate(135deg);
  transition: all 200ms ease-in-out;
}

.years-item__title-icon::before {
  content: '';
  position: absolute;
  top: 19px;
  left: 14px;
  display: block;
  border-top: 1px solid var(--black-color);
  border-right: 1px solid var(--black-color);
  width: 11.79px;
  height: 11.79px;
  transition: all 200ms ease-in-out;
}

.ui-accordion-header-active .years-item__title-icon::before {
  transform: rotate(-180deg);
  top: 14px;
  left: 19px;
}

.years-item__title-icon:hover {
  cursor: pointer;
  background-color: var(--header-scrollbar);
}

.years-item__title-icon:hover::before {
  border-top: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
}

.years-item__title-icon:focus:not(:focus-visible) {
  border: 2px solid var(--header-scrollbar-focus);
  background-color: var(--header-focus-color);
}

.years-item__title-icon:focus:not(:focus-visible)::before {
  border-top: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
}

.years-item__title-icon:focus-visible {
  border: 2px solid var(--header-focus-color);
}

.years-item__title-icon:active {
  background-color: var(--header-scrollbar);
}

.years-item__title-icon:active::before {
  border-top: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
}

.years-item__artists {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  max-width: 724px;
}

@media (max-width: 1919.98px) {

  .section-container-catalog {
    padding-top: 80px;
  }

  .catalog-tabs__desk-item {
    max-width: 925px;
  }

  .catalog__container {
    margin-bottom: -30px;
  }

  .catalog__years-list {
    margin-bottom: 30px;
    width: 100%;
  }

  .catalog__artist-list {
    margin-right: 50px;
  }

  .artist-item__img {
    min-width: 437px;
  }

  .artist-item__desk {
    width: 100%;
  }

  .ui-accordion-content {
    padding-bottom: 11px;
    height: 406px;
  }

  .years-item__artists {
    max-width: 437px;
  }
}

@media (max-width: 1023.98px) {

  .catalog-tabs__desk-item {
    max-width: 100%;
  }

  .catalog__container {
    flex-direction: column-reverse;
  }

  .catalog__years-list {
    margin-bottom: 50px;
    width: 100%;
  }

  .catalog__artist-list {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .artist-item__img {
    min-width: 668px;
  }

  .years-item__artists {
    max-width: 684px;
  }

  .ui-accordion-content {
    height: 310px;
  }

  .years-item__btn {
    width: 238px;
    padding-right: 34px;
  }

  .years-item__artists {
    max-width: 208px;
  }
}

@media (max-width: 767.98px) {

  .catalog-tabs__desk-item {
    display: none;
  }

  .catalog-title {
    align-items: flex-start;
    flex-direction: column;
  }

  .catalog-tab:not(:last-child) {
    margin-right: 32px;
  }

  .catalog-tab__btn {
    width: 32px;
    height: 32px;
    background-size: contain;
  }

  .catalog-tab__btn--active::before {
    top: -7px;
    left: -7px;
    width: 38px;
    height: 38px;
  }

  .catalog__years-list {
    margin-top: -25px;
    width: 100%;
  }

  .ui-accordion-content {
    height: 790px;
  }

  .artist-item__img {
    min-width: 290px;
  }

  .artist-item__desk {
    width: 100%;
  }

  .ui-accordion-header {
    height: 73px;
  }

  .years-item__title {
    margin-bottom: 0px;
    font-size: 18px;
  }

  .years-item__title-icon {
    width: 30px;
    height: 30px;
  }

  .years-item__title-icon::before {
    top: 10px;
    left: 8px;
    width: 7.07px;
    height: 7.07px;
  }

  .ui-accordion-header-active .years-item__title-icon::before {
    top: 8px;
    left: 10px;
  }
}

/* Events */

.section-container-events {
  padding-top: 75px;
}

.events__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -50px;
  margin-bottom: 50px;
}

.events__item {
  position: relative;
  padding: 313px 19px 90px 50px;
  width: 500px;
  border: 1px solid var(--events-border);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.events__item--one {
  background-image: url(../img/events/1.jpg);
}

.events__item--two {
  background-image: url(../img/events/2.jpg);
}

.events__item--three {
  background-image: url(../img/events/3.jpg);
}

.events__item--four {
  background-image: url(../img/events/4.jpg);
}

.events__item--five {
  background-image: url(../img/events/5.jpg);
}

.events__item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.events__item:not(:nth-child(1)),
.events__item:not(:nth-child(2)),
.events__item:not(:nth-child(3)) {
  margin-top: 50px;
}

.events__item--none {
  display: none;
}

.events__item-place {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--gallery-select);
}

.events__item-title {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 420px;
  font-weight: 600;
  font-size: 24px;
}

.events__item-desk {
  margin: 0;
  max-width: 400px;
}

.events__item-link {
  position: absolute;
  left: 50px;
  bottom: 42px;
  border-bottom: 1px solid var(--header-scrollbar);
  color: var(--header-scrollbar);
  transition: font-weight 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.events__item-link:hover {
  font-weight: 700;
}

.events__item-link:focus:not(:focus-visible) {
  font-weight: 700;
  color: var(--header-focus-color);
}

.events__item-link:focus-visible {
  outline: 2px solid var(--header-focus-color);
}

.events__item-link:active {
  font-weight: 700;
}

.swiper-pagination-events {
  position: absolute;
  top: 855px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--events-border);
}

.swiper-pagination-bullet-active {
  background-color: var(--gallery-swiper-buttons);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0px 7.5px;
}

.events__btn {
  display: block;
  margin: 0px auto;
  padding: 17px 35px;
  border: 2px solid var(--header-scrollbar);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: var(--header-scrollbar);
  background-color: var(--white-color);
  transition: background-color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.events__btn:hover {
  cursor: pointer;
  background-color: var(--header-scrollbar);
  color: var(--white-color);
}

.events__btn:focus:not(:focus-visible) {
  border: 2px solid var(--header-scrollbar-focus);
  background-color: var(--header-focus-color);
  color: var(--white-color);
}

.events__btn:focus-visible {
  outline: 2px solid var(--header-focus-color);
}

.events__btn:active {
  background-color: var(--header-scrollbar);
  color: var(--white-color);
}

.events__btn--none {
  display: none;
}

@media (max-width: 1919.98px) {

  .events__list {
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    width: 924px;
  }

  .events__item {
    padding: 214px 18px 106px 35px;
    width: 290px;
    background-size: 290px 200px;
  }

  .events__item:not(:nth-child(3n)) {
    margin-right: 27px;
  }

  .events__item:not(:nth-child(1)),
  .events__item:not(:nth-child(2)),
  .events__item:not(:nth-child(3)) {
    margin-top: 27px;
  }

  .events__item-desk {
    max-width: 222px;
  }

  .events__item-link {
    left: 35px;
  }
}

@media (max-width: 1023.98px) {

  .events__list {
    width: 668px;
  }

  .events__item {
    width: 317px;
    background-size: 317px 200px;
  }

  .events__item:not(:nth-child(3n)) {
    margin-right: 0px;
  }

  .events__item:not(:nth-child(1)),
  .events__item:not(:nth-child(2)),
  .events__item:not(:nth-child(3)) {
    margin-top: 0px;
  }

  .events__item:not(:nth-child(2n)) {
    margin-right: 34px;
  }

  .events__item:not(:nth-child(1)),
  .events__item:not(:nth-child(2)) {
    margin-top: 34px;
  }

  .events__item-desk {
    max-width: 243px;
  }

  .events__item-link {
    left: 35px;
  }
}

@media (max-width: 767.98px) {

  .section-container-events {
    padding-top: 50px;
  }

  .events__list {
    margin-top: 5px;
  }

  .swiper-container-events {
    position: relative;
    padding-bottom: 40px;
    width: 290px;
    height: 880px;
  }

  .events__list {
    display: static;
    flex-wrap: nowrap;
    margin-bottom: 0px;
  }

  .events__list {
    width: 290px;
  }

  .events__item {
    padding: 214px 10px 108px 28px;
  }

  .events__item:not(:nth-child(2n)) {
    margin-right: 0px;
  }

  .events__item:not(:nth-child(1)),
  .events__item:not(:nth-child(2)) {
    margin-top: 0px;
  }

  .events__item-desk {
    max-width: 235px;
  }

  .swiper-slide-events {
    width: 290px;
  }

  .events__item-link {
    left: 28px;
  }

  .events__btn {
    display: none;
  }
}
